footer
  div(class="copyright")
    p &copy; Dirty Dogs all rights reserved
  div(class="contact")
    p
      span(class="contact__address") 274 Marconi Blvd. Columbus, Ohio 43215
      span(class="separator") |
      span(class="contact__phone") 614.538.0005
      span(class="separator") |
      a(class="contact__link", href="/") Contact Us
