header
  div(class="billboard_img")
    div(class="overlay")
      span(class="hashtag") #hotdogs
  nav(role="main-navigation")
    ul
      li: a(href="#") Menu
      li: a(href="#") Catering
      li: a(href="#") About Us
      li: a(href="#") Contact
