section(class="main-content")
  div(class="main-content__container")
    img(class="main-content__icon", src="/imgs/hotdog.png")
    h1(class="main-content__intro") Dirty Dogs serves all-beef, vegan and vegetarian hot dogs.
    a(class="main-content__cta", href="/") More Dogs 'n Make Em Hot
