section(class="showcase")
  div(class="showcase__beef")
    div(class="showcase__beef--text")
      div
        h2
          span(class="dash") &mdash; 
          span Gourmet All Beef Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
    div(class="showcase__beef--image")
      img(class="", src="/imgs/beef.png", alt="All Beef Hotdog")
      div(class="showcase__mobile")
        h2 Gourmet All Beef Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
  div(class="showcase__vegan")
    div(class="showcase__vegan--image")
      img(class="", src="/imgs/vegan.png", alt="Gourmet Vegan Hotdog")
      div(class="showcase__mobile")
        h2 Vegan Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
    div(class="showcase__vegan--text")
      div
        h2
            span(class="dash") &mdash; 
            span Vegan Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
  div(class="showcase__vegetarian")
    div(class="showcase__vegetarian--text")
      div
        h2
          span(class="dash") &mdash; 
          span Vegetarian Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
    div(class="showcase__vegetarian--image")
      img(class="", src="/imgs/vegetarian.png", alt="Gourmet Vegatarian Hotdog")
      div(class="showcase__mobile")
        h2 Vegetarian Hotdogs
        p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
