section(class="showcase")
  div(class="showcase__beef")
    div(class="showcase__beef--text")
      h2 &mdash; Gourmet All Beef Hotdogs
      p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
    div(class="showcase__beef--image")
      img(class="", src="http://placehold.it/700x600", alt="All Beef Hotdog")
  div(class="showcase__vegan")
    div(class="showcase__vegan--image")
      img(class="", src="http://placehold.it/700x600", alt="Gourmet Vegan Hotdog")
    div(class="showcase__vegan--text")
      h2 &mdash; Vegan Hotdogs
      p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
  div(class="showcase__vegatarian")
    div(class="showcase__vegatarian--text")
      h2 &mdash; Vegatarian Hotdogs
      p Praesent commodo cursus magna, vel sceleriscue nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacina quam venenatis vestibulum.
    div(class="showcase__vegatarian--image")
      img(class="", src="http://placehold.it/700x600", alt="Gourmet Vegatarian Hotdog")
