.main-content {
  background-color: #fbfafa;
  height: 680px;
  margin-top:3px;
  width: 100%;
  &__container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__intro {
    font-size: 56px;
    font-weight: 300;
    display: block;
    padding: 20px 0 75px 0;
  }
  &__cta {
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		background: #286782;
		padding: 20px 30px 20px 30px;
		text-decoration: none;
		-webkit-border-radius: 5;
		-moz-border-radius: 5;
		border-radius: 5px;
  }
}
