extends ./templates/master.jade

block prepend body
  include ./includes/header.jade
  include ./includes/main.jade
  include ./includes/showcase.jade
  include ./includes/footer.jade

block append scripts
